<script lang="ts">
import Vue from 'vue';
import BySolutionHero from '~/components/solutions/by-solution/by-solution-hero.vue';
import BySolutionValueProp from '~/components/solutions/by-solution/by-solution-value-prop.vue';
import BySolutionBenefits from '~/components/solutions/by-solution/by-solution-benefits.vue';
import SlpContainer from '~/components/container.vue';
import SolutionsResourceCards from '~/components/solutions/resource-cards.vue';
import BySolutionIntro from '~/components/solutions/by-solution/by-solution-intro.vue';
import BySolutionAccordeon from '~/components/solutions/by-solution/by-solution-accordeon.vue';
import BySolutionCasestudies from '~/components/solutions/by-solution/by-solution-casestudies.vue';
import BySolutionListImage from '~/components/solutions/by-solution/by-solution-list-image.vue';
import SideNavigation from '~/components/side-navigation.vue';
import SolutionsHero from '~/components/solutions/hero.vue';
import ByIndustryIntro from '~/components/solutions/by-industry/by-industry-intro.vue';
import ByIndustryCaseStudies from '~/components/solutions/by-industry/by-industry-casestudies.vue';
import ByIndustryQuotesCarousel from '~/components/solutions/by-industry/quotes-carousel/by-industry-quotes-carousel.vue';
import ByIndustrySolutionsBlock from '~/components/solutions/by-industry/by-industry-solutions-block.vue';
import BySolutionShowcase from '~/components/solutions/by-solution/by-solution-showcase.vue';

export default Vue.extend({
  name: 'IndustryTemplate',
  components: {
    BySolutionShowcase,
    BySolutionHero,
    BySolutionValueProp,
    BySolutionBenefits,
    SlpContainer,
    SolutionsResourceCards,
    BySolutionIntro,
    BySolutionAccordeon,
    BySolutionCasestudies,
    BySolutionListImage,
    SideNavigation,
    SolutionsHero,
    ByIndustryIntro,
    ByIndustryCaseStudies,
    ByIndustryQuotesCarousel,
    ByIndustrySolutionsBlock,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div>
    <component
      :is="component.name"
      v-for="component in solutions.components"
      :key="component.name"
      :data="component.data"
      v-bind="component"
    >
      <slot v-if="component.component_slot_enabled">
        <component
          :is="item"
          v-for="(subcomponent, item) in component.slot_content"
          :key="item"
          v-bind="subcomponent"
        />
      </slot>
    </component>
    <NextStep />
  </div>
</template>

<style scoped lang="scss"></style>
