<script lang="ts">
import Vue from 'vue';
import SlpContainer from '~/components/container.vue';
import SlpRow from '~/components/row.vue';
import SlpCol from '~/components/column.vue';
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';

export default Vue.extend({
  name: 'NextSteps',
  components: {
    ChevronLg,
    SlpContainer,
    SlpRow,
    SlpCol,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer class="next-steps">
    <SlpRow>
      <SlpCol
        v-for="card in data"
        :key="card.tagline"
        :cols="6"
        class="next-steps-columns"
      >
        <a
          class="card"
          :href="card.link.url"
          :data-ga-name="card.link.data_ga_name"
          :data-ga-location="card.link.data_ga_location"
        >
          <img :src="card.avatar" class="alliance-icon" />
          <h3>{{ card.tagline }}</h3>
          <span class="card-link" :href="card.link.url">
            <SlpTypography variant="body1-bold">{{
              card.link.text
            }}</SlpTypography>
            <ChevronLg class="slp-ml-16" direction="right" />
          </span>
        </a>
      </SlpCol>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.next-steps {
  margin-bottom: $spacing-64;

  .next-steps-columns {
    @media (min-width: $breakpoint-md) {
      &:first-child {
        padding-right: $spacing-32;
      }
    }

    @media (max-width: $breakpoint-md) {
      &:first-child {
        padding-bottom: $spacing-32;
      }
    }
  }

  .card {
    color: $color-text-300;
    display: flex;
    flex-direction: column;
    padding: $spacing-32;
    cursor: pointer;
    border-radius: 24px;
    background-color: #f6f3fe;
    &:hover {
      box-shadow: $shadow-surface-secondary-3;
    }

    .card-link {
      display: flex;
      align-items: center;
      color: $color-text-300;
      margin-top: $spacing-32;
    }

    .alliance-icon {
      max-height: 141px;
      max-width: 141px;
      margin-bottom: $spacing-24;
    }
  }
}
</style>
