<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FreeTrialCTA',
  props: {
    variant: {
      type: String,
      required: false,
      default: 'standard',
    },
    title: {
      type: String,
      required: false,
      default: '',
    },
    subtitle: {
      type: String,
      required: false,
      default: '',
    },
    primaryButtonType: {
      type: String,
      required: false,
      default: 'contact_sales',
    },
    secondaryButtonType: {
      type: String,
      required: false,
      default: 'free_trial',
    },
  },
  data() {
    return {
      content: [],
    };
  },
  async fetch() {
    const content = (await this.$content('free-trial-cta').fetch()) as any;
    this.content = content;
  },
});
</script>

<template>
  <div v-if="variant === 'image'" class="slp-free-trial-cta">
    <img
      class="slp-my-16 slp-free-trial-cta__image"
      :src="content.image_variant.image"
    />
    <SlpTypography tag="h3" variant="heading4" class="slp-my-16">{{
      title || content.title
    }}</SlpTypography>
    <SlpTypography tag="p" variant="body1" class="slp-mb-16 subtitle">{{
      subtitle || content.subtitle
    }}</SlpTypography>
    <div class="slp-free-trial-cta__buttons">
      <SlpButton
        :href="content.image_variant[`${primaryButtonType}_button`].link"
        :data-ga-name="
          content.image_variant[`${primaryButtonType}_button`].data_ga_name
        "
        :data-ga-location="
          content.image_variant[`${primaryButtonType}_button`].data_ga_location
        "
        >{{ content.image_variant[`${primaryButtonType}_button`].text }}
      </SlpButton>
      <SlpButton
        variant="secondary"
        :href="content.image_variant[`${secondaryButtonType}_button`].link"
        :data-ga-name="
          content.image_variant[`${secondaryButtonType}_button`].data_ga_name
        "
        :data-ga-location="
          content.image_variant[`${secondaryButtonType}_button`]
            .data_ga_location
        "
      >
        {{ content.image_variant[`${secondaryButtonType}_button`].text }}
      </SlpButton>
    </div>
  </div>
  <div v-else>
    <div class="slp-free-trial-cta">
      <img class="slp-mb-16" :src="content.confetti" />
      <SlpTypography tag="h3" variant="heading4" class="slp-my-16">{{
        content.title
      }}</SlpTypography>
      <SlpTypography tag="p" variant="body1" class="slp-mb-16 subtitle">{{
        content.subtitle
      }}</SlpTypography>
      <div class="slp-free-trial-cta__buttons">
        <SlpButton
          variant="charcoal"
          :data-ga-name="content[`${primaryButtonType}_button`].data_ga_name"
          :data-ga-location="
            content[`${primaryButtonType}_button`].data_ga_location
          "
          :href="content[`${primaryButtonType}_button`].link"
          >{{ content[`${primaryButtonType}_button`].text }}
        </SlpButton>
        <SlpButton
          variant="secondary"
          :href="content[`${secondaryButtonType}_button`].link"
          :data-ga-name="content[`${secondaryButtonType}_button`].data_ga_name"
          :data-ga-location="
            content[`${secondaryButtonType}_button`].data_ga_location
          "
        >
          {{ content[`${secondaryButtonType}_button`].text }}
        </SlpButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.slp-free-trial-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 128px;
  text-align: center;

  &__image {
    width: 213px;
  }

  .subtitle {
    text-align: center;
    @media (min-width: $breakpoint-md) {
      width: 60%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: unset;
    }

    a {
      width: 100%;
      margin-bottom: $spacing-8;

      @media (min-width: $breakpoint-md) {
        width: unset;
        margin-bottom: inherit;
        margin-right: $spacing-4;
        margin-left: $spacing-4;
      }
    }
  }
}
</style>
