<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      icons: {
        'Vulnerability Management': 'shield-checkmark.svg',
        'Continuous Integration': 'gitlab-cd.svg',
        'Code Owners': 'code-1.svg',
        'Security Dashboards': 'complience-and-security.svg',
        'Approval Rules': 'dismiss-approve.svg',
        'Epic & Issue Boards': 'monitor-gitlab.svg',
      },
    };
  },
});
</script>

<template>
  <div class="features-block-related">
    <SlpContainer>
      <SlpRow class="slp-pt-160 slp-pb-32">
        <SlpColumn :cols="4" size="md">
          <SlpTypography variant="heading3-bold" tag="h3">
            All our features work together so you can, too.
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="8">
          <SlpButton
            style="float: right"
            href="about.gitlab.com"
            variant="tertiary"
            >Browse our full features list</SlpButton
          >
        </SlpColumn>
      </SlpRow>
      <SlpRow
        class="slp-pt-48 slp-pb-160"
        style="
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1rem;
        "
      >
        <a
          v-for="feature in data"
          :key="feature"
          class="features-block-related__card slp-px-16 slp-py-32"
          href="/"
        >
          <img
            class="slp-mr-16"
            style="width: 40px"
            :src="`/nuxt-images/icons/${icons[feature]}`"
          />
          <SlpTypography variant="heading5-bold" tag="p">{{
            feature
          }}</SlpTypography>
        </a>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.features-block-related {
  background: #fff;

  &__card {
    display: flex;
    align-items: center;
    color: black;
    background: #f6f3fe;
    border: 1px solid #f6f3fe;
    border-radius: 8px;
    &:hover {
      background: #f6f3fe;
      box-shadow: 0px 8px 20px -16px #d1d0d3;
      transition: all 200ms ease-in-out;
    }
  }
}
</style>
