<script lang="ts">
import Vue from 'vue';
import Header from '~/components/landing/header.vue';
import SlpContainer from '~/components/container.vue';
import FeaturedVideo from '~/components/landing/livestream-vimeo.vue';
import GetInTouch from '~/components/landing/mrkto-form.vue';

export default Vue.extend({
  components: {
    Header,
    SlpContainer,
    GetInTouch,
    FeaturedVideo,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('livestream', params.slug).fetch();
    return { doc };
  },
  head() {
    const title = 'GitLab’s Listing Day: Welcome to The DevOps Platform Era';
    return {
      title,
      meta: [
        {
          property: 'og:title',
          content: 'GitLab’s Listing Day: Welcome to The DevOps Platform Era',
        },
        {
          property: 'og:description',
          content:
            'Join GitLab as it becomes the first company to publicly live stream the entire end-to-end IPO listing day at Nasdaq. At GitLab, we believe in a world where #EveryoneCanContribute and we wouldn’t be here today without the contributions from team members, customers, partners, and everyone in the community.',
        },
        { property: 'og:url', content: 'https://about.gitlab.com/livestream' },
        {
          property: 'og:image',
          content:
            'https://about.gitlab.com/nuxt-images/open-graph/open-graph-ipo.png',
        },
        { property: 'og:image:height', content: '930' },
        { property: 'og:image:width', content: '1653' },
      ],
    };
  },
});
</script>

<template>
  <div class="wrapper">
    <SlpContainer>
      <Header :data="doc.header" />
      <featured-video id="thank-you" :data="doc.livestream" />
    </SlpContainer>
    <GetInTouch
      id="stay-in-touch"
      :data="doc.get_in_touch_email_acquisition_block"
    />
  </div>
</template>
