<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import SolutionsHero from '~/components/solutions/hero.vue';
import ByIndustryIntro from '~/components/solutions/by-industry/by-industry-intro.vue';
import BySolutionIntro from '~/components/solutions/by-solution/by-solution-intro.vue';
import BySolutionBenefits from '~/components/solutions/by-solution/by-solution-benefits.vue';
import ByIndustrySolutionsBlock from '~/components/solutions/by-industry/by-industry-solutions-block.vue';
import BySolutionValueProp from '~/components/solutions/by-solution/by-solution-value-prop.vue';
import ByIndustryCaseStudies from '~/components/solutions/by-industry/by-industry-casestudies.vue';
import SolutionsResourceCards from '~/components/solutions/resource-cards.vue';
import NextSteps from '~/components/next-step.vue';

export default Vue.extend({
  components: {
    SolutionsHero,
    ByIndustryIntro,
    BySolutionIntro,
    BySolutionBenefits,
    ByIndustrySolutionsBlock,
    BySolutionValueProp,
    ByIndustryCaseStudies,
    SolutionsResourceCards,
    NextSteps,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('small-business', params.slug).fetch();
    return { doc };
  },
  head() {
    const title = 'GitLab for Small Business - Collaboration made easy';
    const description =
      'Accelerate your software delivery with GitLab’s DevOps platform, lowering your development costs and streamlining team collaboration';
    const image = '/nuxt-images/open-graph/gitlab-smb-opengraph.png';

    return {
      title,
      meta: [
        {
          hid: 'twitter: title',
          name: 'twitter:title',
          content: title,
        },
        { hid: 'description', name: 'description', content: description },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: description,
        },
        { hid: 'og:description', name: 'og:description', content: description },
        { hid: 'og:image', name: 'og:image', content: image },
        { hid: 'twitter:image', name: 'twitter:image', content: image },
      ],
    };
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <SolutionsHero :data="doc.solutions_hero" />
    <ByIndustryIntro :data="doc.by_industry_intro" />
    <BySolutionIntro :data="doc.by_solution_intro" />
    <BySolutionBenefits :data="doc.by_solution_benefits" />
    <ByIndustrySolutionsBlock :data="doc.by_industry_solutions_block" />
    <BySolutionValueProp :data="doc.by_solution_value_prop" />
    <ByIndustryCaseStudies :data="doc.by_industry_case_studies" />
    <SolutionsResourceCards :data="doc.solutions_resource_cards" />
    <NextSteps />
  </div>
</template>
