<script>
export default {
  name: 'SlpCheckmark',
};
</script>

<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_50:1209)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.59748 16C11.7935 16 15.195 12.4183 15.195 8C15.195 3.58172 11.7935 0 7.59748 0C3.40151 0 0 3.58172 0 8C0 12.4183 3.40151 16 7.59748 16ZM11.1181 6.70711C11.4889 6.31658 11.4889 5.68342 11.1181 5.29289C10.7472 4.90237 10.1459 4.90237 9.77501 5.29289L6.6478 8.58579L5.41996 7.29289C5.04908 6.90237 4.44777 6.90237 4.0769 7.29289C3.70602 7.68342 3.70602 8.31658 4.0769 8.70711L5.97627 10.7071C6.34714 11.0976 6.94845 11.0976 7.31933 10.7071L11.1181 6.70711Z"
        fill="#48A651"
      />
    </g>
    <defs>
      <clipPath id="clip0_50:1209">
        <rect width="15.195" height="16" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
