<script lang="ts">
import Vue from 'vue';
import SlpColumn from '~/components/column.vue';
import SlpRow from '~/components/row.vue';

export default Vue.extend({
  name: 'SolutionsHero',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isMobile: false,
    };
  },
  mounted() {
    this.detectMobile();
    window.addEventListener('resize', this.detectMobile);
  },
  destroyed() {
    window.removeEventListener('resize', this.detectMobile);
  },
  methods: {
    detectMobile() {
      this.isMobile = window.innerWidth < 768;
    },
  },
});
</script>

<template>
  <section class="container slp-mb-md-48 slp-overflow-x-hidden">
    <SlpRow class="container__row">
      <SlpColumn :cols="6">
        <div class="text">
          <SlpTypography
            tag="h1"
            variant="heading1-bold"
            class="slp-mt-48 slp-mt-md-0 slp-mb-16"
            :data-aos="data.header_animation"
            :data-aos-duration="data.header_animation_duration"
            >{{ data.title }}</SlpTypography
          >
          <SlpTypography
            v-if="data.subtitle"
            tag="p"
            variant="heading5"
            :data-aos="data.header_animation"
            :data-aos-duration="data.header_animation_duration"
            >{{ data.subtitle }}</SlpTypography
          >
        </div>
        <div
          class="buttons slp-mt-32"
          :data-aos="data.buttons_animation"
          :data-aos-duration="data.buttons_animation_duration"
        >
          <SlpButton
            v-if="data.primary_btn"
            variant="primary"
            class="slp-mb-8"
            :data-ga-name="data.primary_btn.data_ga_name || 'join gitlab'"
            :data-ga-location="data.primary_btn.data_ga_location || 'header'"
            :href="data.primary_btn.url || '/free-trial/'"
            >{{ data.primary_btn.text }}</SlpButton
          >
          <SlpButton
            v-if="data.secondary_btn"
            variant="secondary"
            class="slp-mb-8"
            :href="data.secondary_btn.url || '/sales/'"
            :data-ga-name="data.secondary_btn.data_ga_name || 'contact sales'"
            :data-ga-location="data.secondary_btn.data_ga_location || 'header'"
            >{{ data.secondary_btn.text || 'Contact Sales' }}</SlpButton
          >
        </div>
      </SlpColumn>
      <SlpColumn :cols="4" class="column">
        <div
          class="purple-bg"
          :class="{
            'purple-bg--bordered': data.image.bordered,
            'purple-bg--rounded': data.image.rounded,
            'purple-bg--alt': data.image.no_image_alt,
            'purple-bg--no-image-mobile':
              isMobile &&
              data.image.image_url_mobile ===
                '/nuxt-images/solutions/no-image-mobile.svg',
          }"
          :data-aos="data.img_animation"
          :data-aos-duration="data.img_animation_duration"
        >
          <img
            v-if="!isMobile"
            class="image"
            :class="{
              'image--bordered': data.image.bordered,
              'image--rounded': data.image.rounded,
              'image--alt': data.image.no_image_alt,
            }"
            :src="data.image.image_url"
            :alt="data.image.alt"
          />
          <img
            v-else
            class="image"
            :class="{
              'image--bordered': data.image.bordered,
              'image--rounded': data.image.rounded,
              'image--alt': data.image.no_image_alt,
              'image--no-image-mobile':
                data.image.image_url_mobile ===
                '/nuxt-images/solutions/no-image-mobile.svg',
            }"
            :src="data.image.image_url_mobile || data.image.image_url"
            :alt="data.image.alt"
          />
        </div>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.container {
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;

  @media (max-width: $breakpoint-md) {
    padding: 0 $spacing-16 $spacing-8 $spacing-16;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    .text {
      max-width: 500px;
    }

    .buttons {
      @media (max-width: $breakpoint-md) {
        a {
          width: 100%;
          justify-content: center;
          &:last-of-type {
            margin-bottom: $spacing-32;
          }
        }
      }
    }
  }

  .column {
    overflow: visible;
  }

  .purple-bg {
    background-color: $color-surface-800;
    padding: 96px calc(50vw - 50%) 96px 0;

    &--bordered {
      padding: 96px calc(50vw - 50%) 96px 0;
    }

    &--rounded {
      padding: 66px calc(50vw - 50%) 66px 0;
    }

    &--alt {
      padding: $spacing-48 calc(50vw - 50%) $spacing-48 0;
    }

    &--no-image-mobile {
      background-color: white;
    }

    @media (max-width: $breakpoint-md) {
      padding: 0;
      display: flex;
      justify-content: center;
      margin: $spacing-96 -$spacing-32 0 -$spacing-32;
    }
  }

  .image {
    border-radius: 4px;
    transform: translateX(-14%);

    &--bordered,
    &--rounded,
    &--alt {
      transform: translateX(-35%);
      width: initial;

      @media (max-width: $breakpoint-md) {
        max-width: 20rem;
      }
    }

    &--bordered {
      border-bottom-right-radius: 100px;

      @media (max-width: $breakpoint-md) {
        height: 325px;
      }
    }

    &--rounded {
      object-fit: cover;
      object-position: -$spacing-16 0;
      width: 480px;
      height: 480px;
      border-radius: 50%;
      transform: translateX(-35%);
      @media (max-width: $breakpoint-md) {
        height: 272px;
        width: 272px;
      }
    }

    &--alt {
      transform: translateX(-35%);
    }

    &--no-image-mobile {
      max-width: 100%;
    }

    @media (max-width: $breakpoint-md) {
      transform: translateX(0) translateY(-64px);
    }
  }
}
</style>
